[user]
    name = Bryan C. Geraghty
    email = bryan@ravensight.org
[core]
    pager =
[receive]
    denyNonFastForwards = false

[url "ssh://git.ravensight.org/"]
    pushInsteadOf = git://git.ravensight.org/
[alias]
    info = config --local --list
    svn-log = log --name-status
    tracked = status --untracked-files=no
